#logo {
    font-family: "Brush Script MT", cursive;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #555 3px 2px 0;
    position: relative;
    margin: 10px;
  }
  

