#logo {
    top:25px;
    font-family: 'Rochester', cursive;
    color:#e55039;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 120px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow:red 3px 2px 0;
    position: relative;
    margin: 10px;
    
  }
  
