@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

.frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    
    background: url(Img/FrontPage.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(2deg) saturate(1.9);
}
.container {
    display:flex;
    justify-content: flex-end
}
.hero-container {
    display: table;
    margin: 0 auto ;
    padding: 0 0px;
    height: 100%;
    
}
.topName>p.name {

}
.empty {
    margin: 80px;
}
.lowerPart{
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 padding: 1px;
 background: brown;
 margin:auto;
}



.hero-content {

    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}



h2.slogan {
  
    font-family: monaco, Consolas, "Lucida Console", monospace;
    
    font-size: 30px;
    margin: 10px;
    color: white;
    

}

.orderBtn{
    width: 300px;
    align-self: center;
    background-color:transparent;
    

}
.orderBtn:hover{
    background-color:white;
    opacity: 0.2;
    
    
}

.orderBtn>p {
    
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin:5px;
    padding: 2px;
    font-size: 50px;
}

.orderLine>p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}


.nav1 {
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px;
}

.burg1 {
    color: white;
    font-size: 4rem;
}

.briefHistory{
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
   
    
    
}

.divOne{
    height: 10vh;
    width: 30vh;
    padding: -3em 0em 0em 0em;

   padding: 10em 0em 0em 5em;
   
}

.divTwo{
    height:10vh;
    width: 30vh;
    padding: 0em 0em 0em 50em;

}
.textBox{
 margin-top: 21em;
position: relative;
font-size: 1.2em;

}
.textBox > p {

    opacity: 0.9;
    justify-content: left;
    width: 30em;
}

.textBox2{
    margin: 18em 0em 0em 15em;
    position: relative;
    font-size: 1.2em;    
}

.textBox2 > p {
    color: white;
    opacity: 0.9;
    justify-content: left;
    width: 30em;
}
.goodlist{
    color: white;
    opacity: 0.9;
    width: 30em;
}
.coffeecup {
 margin-left: 10em; 
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 20em;
width: auto;
    filter: hue-rotate(180deg) saturate(1.5);
    border: 8px dotted brown;
}


.dropdown-menu {
    background-color: transparent;
}


.orderImg {

position: relative;
text-align: center;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 20em;
width: auto;
filter: hue-rotate(180deg) saturate(1.5);
margin-left : 20em;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 20em;
    width: auto;
    border: 8px dotted brown;
}


.dropdown-menu {
background-color: transparent;
}


.imgBox{
height: 50px;
width: 40px;
}

.imgBox2{
    height: 50px;
    width: 40px;

}

.imgBox2 {
    height: 50px;
    width: 40px;

}

.menuPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    background: url(Img/img4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(2deg) saturate(1.9);
}

.locationPage {
height: 100vh;
position: relative;
text-align: center;
width: 100%;

background: url(Img/location.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
filter: hue-rotate(2deg) saturate(1.9);
}

table {
    background-color: white;;
}

th {
    text-align: center;
    width: 100%;
    background: url(Img/location.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(2deg) saturate(1.9);
}

.dropdown-menu>li>a{
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 20px;
}




.loctxt{
    padding-top: 3em;
}
#locationPage * { 
    color: #ffffff;
    font-family: 'Racing Sans One';
 }

 #briefHistory * { 
    color: #ffffff;
 }

