@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');


body {
    background: linear-gradient(to bottom left,rgb(248, 183, 4),rgb(139, 97, 5) ,#be6a03);
}

.frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(2deg) saturate(1.9);
}
.container {
    display:flex;
    justify-content: flex-end
}
.hero-container {
    display: table;
    margin: 0 auto ;
    padding: 0 0px;
    height: 100%;
    
}
.topName>p.name {

}
.empty {
    margin: 80px;
}
.lowerPart{
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 padding: 1px;
 margin:auto;
}



.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}



h2.slogan {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 30px;
    margin: 10px;
    color: white;
}
.orderBtn{
    width: 300px;
    align-self: center;
    background-color:transparent;
    

}


.orderBtn>p {
    
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin:5px;
    padding: 2px;
    font-size: 50px;
}

.orderLine>p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

.nav1 {
    background-color: black;
    opacity: 0.7;
    border: 200px 5px 700px 5px;
}



.briefHistory{
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 12%, 100% 88%);
    clip-path: polygon(0% 100%, 0% 0%, 100% 12%, 100% 88%);
   display:flex;

   flex-direction: row-reverse;
   justify-content: center;
    height: 100vh;
    position: relative;
    
    width: 100%;
    
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}

.line {
    display:flex;
    border: solid white;
    height: 700px;
    width:0px;
    order: 2;
    margin: 50px;
    border-radius: 5px;
    opacity: 0.9;
}
.textBox{
 margin-top: 100px;

font-size: 1.5em;

}
.textBox > p {

    opacity: 0.9;
 
    width: 30em;
}



.textBox2 > p {
    color: white;
    opacity: 0.9;

    width: 30em;
}
.goodlist{
    color: white;
    opacity: 0.9;
    margin-top: 170px;
}

.aboutImg1 {
    position:absolute;
    display:none;
    top:75px;
    left:05px;
    height: 250px;
    width: 250px;
    margin:5px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    filter: hue-rotate(10deg) saturate(2);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }


.aboutImg2 {
    position:absolute;
    display:none;
    top:260px;
    left:100px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 10px;;
    margin-left: 40px;
    height: 250px;
    width: 250px;
    filter: hue-rotate(20deg) saturate(10);

}


.dropdown-menu {
    background-color: black;
    opacity: 0.9;
    
}


.imgBox{
height: 50px;
width: 40px;
}

.imgBox2{
    height: 50px;
    width: 40px;

}

.imgBox2 {
    height: 50px;
    width: 40px;

}
.menuPage>h1{
    font-size: 50px;
}
.menuPage {
    height: 10vh;
    position: relative;
    text-align: center;
    width: 100%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(-30deg) saturate(3);
    color: white;
   
}
.container{
    display:inline;
}

.locationPage {

height: 60vh;
position: relative;
text-align: center;
width: 100%;


background-size: cover;
background-position: center center;
background-repeat: no-repeat;
filter: hue-rotate(2deg) saturate(1.9);
}

table {
    background-color: white;;
}

th {
    
}

.checkOut {
display:flex;
justify-content: flex-end;
padding: 10px;
}

.dropdown-menu>li>a{
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 20px;
}




.loctxt{
    padding-top: 3em;
    display: flex;
    flex-direction: column;
}
#locationPage * { 
    color: #ffffff;
    font-family: 'Racing Sans One';
 }

 #briefHistory * { 
    color: #ffffff;
    opacity: 0.9;
 }



