/* SCREEN SIZE FOR Iphone */
@media only screen and (max-width: 450px ) {
    .frontPage {
        height: 100vh;
        position: relative;
        text-align: center;
        width: 100%;
        
        background-color: brown;
        background-size: cover;
    
        filter: hue-rotate(2deg) saturate(1.9);
    }
    .container {
        display:flex;
        justify-content: flex-end
    }
    .hero-container {
        display: table;
        margin: 0 auto ;
        padding: 0 0px;
        height: 100%;
        
    }
    .topName>p.name {
    
    
    }
    .empty {
        margin: 80px;
    }
    .lowerPart{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 80px;
    }

    .hero-content {
    
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    
    
    
    h2.slogan {
      
        font-family: monaco, Consolas, "Lucida Console", monospace;
        
        font-size: 30px;
        margin: 10px;
        color: white;
        
    
    }
    .lowerPart{
       
       
    }
    .orderBtn{
        width: 300px;
        align-self: center;
        background-color:transparent;
        
    
    }
    .orderBtn:hover{
        background-color:white;
        opacity: 0.2;
        
        
    }
    
    .orderBtn>p {
        
        font-family: monaco, Consolas, "Lucida Console", monospace;
        border: solid white;
        color: white;
        margin:5px;
        padding: 2px;
        font-size: 50px;
    }
    
    .orderLine>p {
        color: white;
        font-family: monaco, Consolas, "Lucida Console", monospace;
    }
    
    
    .nav1 {
        background-color: black;
        opacity: 0.7;
        border: 50px 5px 0px 5px;
    }
    
    .burg1 {
        color: white;
        font-size: 4rem;
    }
    
    
    
    
    
    .briefHistory{
        height: 100vh;
        position: relative;
        text-align: center;
        width: 100%;
        
        background: url(Img/img1.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        filter: hue-rotate(180deg) saturate(6);
        
        
    }
    
    
    .coffeecup {
        position: relative;
        text-align: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        filter: hue-rotate(180deg) saturate(1.5);
    }
    
    