.frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    
    background: url(Img/FrontPage.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(0deg) saturate(1.5);
}
.container {
    display:flex;
    justify-content: flex-end
}
.hero-container {
    display: table;
    margin: 0 auto ;
    padding: 0 0px;
    height: 100%;
    
}
.topName>p.name {


}

.lowerPart{
 
  
}

#logo {
    font-family: "Brush Script MT", cursive;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #555 3px 2px 0;
    position: relative;
  }
  #logo:after {
    content:"roastwell";
    position: absolute;
    left: 8px;
    top: 32px;
    
  }
  #logo:after {
    /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;
  }

.hero-content {

    width: 100%;
    display: table-cell;
    position: relative;
    vertical-align:middle;
    text-align: center;
    
}

h1.name {
 
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin: 130px;
    font-size: 100px;

}

h2.slogan {
    display: flex;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    justify-content: center;
    font-size: 30px;
    margin: 110px;
    color: white;
    

}
.lowerPart{
   
   
}
.orderBtn{
    width: 300px;
}

p.orderBtn {
    display: flex;
    justify-content: center;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin: 10px;

    font-size: 50px;
}

p.orderLine {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

p.orderLine2 {
    color: white;
}

.nav1 {
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px;
}

.burg1 {
    color: white;
    font-size: 4rem;
}

.someLolz {
    height: 100%;
    width: auto;
    background-color: black;
}


.briefHistory{
    width: auto;
    height: 100vh;
    background: url(Img/img2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.coffeecup {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(10deg) saturate(1.5);
}


.dropdown-menu {
    background-color: transparent;
}
