#logo {
  font-family: "Brush Script MT", cursive;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #555 3px 2px 0;
  position: relative;
  margin: 10px; }

.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: .8; }
  .navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s; }
  .navicon-button:hover {
    transition: 0.5s;
    opacity: 1; }
    .navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
      transition: 0.25s; }
    .navicon-button:hover .navicon:before {
      top: .825rem; }
    .navicon-button:hover .navicon:after {
      top: -.825rem; }

.navicon {
  position: relative;
  width: 1.8em;
  height: .3125rem;
  background: #FFF;
  transition: 0.5s;
  border-radius: 2.5rem; }
  .navicon:before, .navicon:after {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.5rem;
    background: #FFF;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.25s;
    border-radius: 1rem; }
  .navicon:before {
    top: .625rem; }
  .navicon:after {
    top: -.625rem; }

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important; }

.open .navicon:before,
.open .navicon:after {
  transition: 0.5s; }

/* Minus */
.open {
  transform: scale(0.75); }

@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
.frontPage {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: url(Img/FrontPage.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(2deg) saturate(1.9); }

.container {
  display: flex;
  justify-content: flex-end; }

.hero-container {
  display: table;
  margin: 0 auto;
  padding: 0 0px;
  height: 100%; }

.empty {
  margin: 80px; }

.lowerPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1px;
  margin: auto; }

.hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center; }

h2.slogan {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 30px;
  margin: 10px;
  color: white; }

.orderBtn {
  width: 300px;
  align-self: center;
  background-color: transparent; }

.orderBtn:hover {
  background-color: white;
  opacity: 0.2; }

.orderBtn > p {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  border: solid white;
  color: white;
  margin: 5px;
  padding: 2px;
  font-size: 50px; }

.orderLine > p {
  color: white;
  font-family: monaco, Consolas, "Lucida Console", monospace; }

.nav1 {
  background-color: black;
  opacity: 0.7;
  border: 50px 5px 200px 5px; }

.burg1 {
  color: white;
  font-size: 4rem; }

.briefHistory {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: url(Img/img1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.divOne {
  height: 10vh;
  width: 30vh;
  padding: -3em 0em 0em 0em;
  padding: 10em 0em 0em 5em; }

.divTwo {
  height: 10vh;
  width: 30vh;
  padding: 0em 0em 0em 50em; }

.textBox {
  margin-top: 21em;
  position: relative;
  font-size: 1.2em; }

.textBox > p {
  opacity: 0.9;
  justify-content: left;
  width: 30em; }

.textBox2 {
  margin: 18em 0em 0em 15em;
  position: relative;
  font-size: 1.2em; }

.textBox2 > p {
  color: white;
  opacity: 0.9;
  justify-content: left;
  width: 30em; }

.goodlist {
  color: white;
  opacity: 0.9;
  width: 30em; }

.coffeecup {
  margin-left: 10em;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20em;
  width: auto;
  filter: hue-rotate(180deg) saturate(1.5);
  border: 8px dotted brown; }

.dropdown-menu {
  background-color: transparent; }

.orderImg {
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20em;
  width: auto;
  margin-left: 20em;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20em;
  width: auto;
  border: 8px dotted brown; }

.dropdown-menu {
  background-color: transparent; }

.imgBox {
  height: 50px;
  width: 40px; }

.imgBox2 {
  height: 50px;
  width: 40px; }

.imgBox2 {
  height: 50px;
  width: 40px; }

.menuPage > h1 {
  font-size: 50px; }

.menuPage {
  height: 10vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: url(Img/img4.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(-30deg) saturate(3);
  color: white; }

.locationPage {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: url(Img/location.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(2deg) saturate(1.9); }

table {
  background-color: white; }

.checkOut {
  display: flex;
  justify-content: flex-end; }

.dropdown-menu > li > a {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 20px; }

.loctxt {
  padding-top: 3em; }

#locationPage * {
  color: #ffffff;
  font-family: 'Racing Sans One'; }

#briefHistory * {
  color: #ffffff; }

/* SCREEN SIZE FOR Tablet */
@media only screen and (min-width: 768) and (max-width: 1024px) {
  #logo {
    font-size: 50px; }
  .frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    background: url(Img/FrontPage.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(2deg) saturate(1.9); }
  .container {
    display: flex;
    justify-content: flex-end; }
  .hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%; }
  .empty {
    margin: 20px; }
  .lowerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px; }
  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  h2.slogan {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 30px;
    margin: 10px;
    color: white; }
  .orderBtn {
    width: 300px;
    align-self: center;
    background-color: transparent; }
  .orderBtn:hover {
    background-color: white;
    opacity: 0.2; }
  .orderBtn > p {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin: 5px;
    padding: 2px;
    font-size: 50px; }
  .orderLine > p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace; }
  .nav1 {
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px; }
  .burg1 {
    color: white;
    font-size: 4rem; }
  .briefHistory {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .coffeecup {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .orderImg {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .textBox {
    padding-top: 9em;
    position: relative;
    font-size: 1em; }
  .textBox > p {
    color: white;
    opacity: 0.9;
    justify-content: left;
    width: 12em; }
  .textBox2 {
    padding-top: 9em;
    position: relative;
    font-size: 0.6em; }
  .textBox2 > p {
    color: white;
    opacity: 0.9;
    justify-content: left;
    width: 12em; }
  .coffeecup {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 20em;
    width: auto; }
  .orderImg {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 20em;
    width: auto; } }

/* SCREEN SIZE FOR Phone */
/*Mobile in landscape*/
@media only screen and (max-device-width: 823px) {
  #logo {
    font-size: 51px; }
  .frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: brown;
    background-size: cover; }
  .container {
    display: flex;
    justify-content: flex-end; }
  .hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%; }
  .empty {
    margin: 40px; }
  .lowerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px; }
  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  h2.slogan {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 20px;
    margin: 2px;
    color: white; }
  .orderBtn {
    width: 300px;
    align-self: center;
    background-color: transparent; }
  .orderBtn > p {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin: 5px;
    padding: 2px;
    font-size: 30px; }
  .orderLine > p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace; }
  .nav1 {
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px; }
  .burg1 {
    color: white;
    font-size: 4rem; }
  .briefHistory {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .coffeecup {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; } }

/*Phone size Portrait Mode*/
@media only screen and (max-width: 411px) {
  #logo {
    font-size: 50px; }
  .frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto; }
  .container {
    display: flex;
    justify-content: flex-end; }
  .hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%; }
  .empty {
    margin: 80px; }
  .lowerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px; }
  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  h2.slogan {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 15px;
    margin: 2px;
    color: white; }
  .orderBtn {
    width: 300px;
    align-self: center;
    background-color: transparent; }
  .orderBtn > p {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin: 10px;
    padding: 2px;
    font-size: 30px; }
  .orderLine > p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace; }
  .nav1 {
    position: fixed;
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px; }
  .burg1 {
    color: white;
    font-size: 4rem; }
  .briefHistory {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .coffeecup {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; } }
