#logo {
  font-family: "Brush Script MT", cursive;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #555 3px 2px 0;
  position: relative;
  margin: 10px; }

#logo:after {
  content: "roastwell";
  position: absolute;
  left: 8px;
  top: 32px; }

#logo:after {
  /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none; }

@media only screen and (max-width: 770px) {
  #logo {
    font-size: 80px; }
  #logo:after {
    content: "roastwell";
    position: absolute;
    left: 11px;
    top: 20px; } }

@media only screen and (max-width: 450px) {
  #logo {
    font-size: 50px; } }

.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: .8; }
  .navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s; }
  .navicon-button:hover {
    transition: 0.5s;
    opacity: 1; }
    .navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
      transition: 0.25s; }
    .navicon-button:hover .navicon:before {
      top: .825rem; }
    .navicon-button:hover .navicon:after {
      top: -.825rem; }

.navicon {
  position: relative;
  width: 1.8em;
  height: .3125rem;
  background: #FFF;
  transition: 0.5s;
  border-radius: 2.5rem; }
  .navicon:before, .navicon:after {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.5rem;
    background: #FFF;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.25s;
    border-radius: 1rem; }
  .navicon:before {
    top: .625rem; }
  .navicon:after {
    top: -.625rem; }

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important; }

.open .navicon:before,
.open .navicon:after {
  transition: 0.5s; }

/* Minus */
.open {
  transform: scale(0.75); }

.frontPage {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: url(Img/FrontPage.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(2deg) saturate(1.9); }

.container {
  display: flex;
  justify-content: flex-end; }

.hero-container {
  display: table;
  margin: 0 auto;
  padding: 0 0px;
  height: 100%; }

.empty {
  margin: 80px; }

.lowerPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px; }

.hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center; }

h2.slogan {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 30px;
  margin: 10px;
  color: white; }

.orderBtn {
  width: 300px;
  align-self: center;
  background-color: transparent; }

.orderBtn:hover {
  background-color: white;
  opacity: 0.2; }

.orderBtn > p {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  border: solid white;
  color: white;
  margin: 5px;
  padding: 2px;
  font-size: 50px; }

.orderLine > p {
  color: white;
  font-family: monaco, Consolas, "Lucida Console", monospace; }

.nav1 {
  background-color: black;
  opacity: 0.7;
  border: 50px 5px 0px 5px; }

.burg1 {
  color: white;
  font-size: 4rem; }

.briefHistory {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: url(Img/img1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.divOne {
  height: 10vh;
  width: 30vh;
  padding: 10em 0em 0em 5em; }

.divTwo {
  height: 10vh;
  width: 30vh;
  padding: 0em 0em 0em 50em; }

.textBox {
  padding-top: 21em;
  position: relative;
  font-size: 1.2em; }

.textBox > p {
  color: white;
  opacity: 0.9;
  justify-content: left;
  width: 30em; }

.textBox2 {
  padding-top: 18em;
  position: relative;
  font-size: 1.2em; }

.textBox2 > p {
  color: white;
  opacity: 0.9;
  justify-content: left;
  width: 30em; }

.goodlist {
  color: white;
  opacity: 0.9;
  width: 30em; }

.coffeecup {
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20em;
  width: auto; }

.orderImg {
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20em;
  width: auto; }

.dropdown-menu {
  background-color: transparent; }

.imgBox {
  height: 50px;
  width: 40px; }

.imgBox2 {
  height: 50px;
  width: 40px; }

.menuPage {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: url(Img/img4.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(2deg) saturate(1.9); }

.locationPage {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: url(Img/location.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(2deg) saturate(1.9); }

/* SCREEN SIZE FOR IPAD */
@media only screen and (max-width: 770px) {
  .frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    background: url(Img/FrontPage.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(2deg) saturate(1.9); }
  .container {
    display: flex;
    justify-content: flex-end; }
  .hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%; }
  .empty {
    margin: 80px; }
  .lowerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px; }
  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  h2.slogan {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 30px;
    margin: 10px;
    color: white; }
  .orderBtn {
    width: 300px;
    align-self: center;
    background-color: transparent; }
  .orderBtn:hover {
    background-color: white;
    opacity: 0.2; }
  .orderBtn > p {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin: 5px;
    padding: 2px;
    font-size: 50px; }
  .orderLine > p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace; }
  .nav1 {
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px; }
  .burg1 {
    color: white;
    font-size: 4rem; }
  .briefHistory {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .coffeecup {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .orderImg {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .textBox {
    padding-top: 9em;
    position: relative;
    font-size: 1em; }
  .textBox > p {
    color: white;
    opacity: 0.9;
    justify-content: left;
    width: 12em; }
  .textBox2 {
    padding-top: 9em;
    position: relative;
    font-size: 0.6em; }
  .textBox2 > p {
    color: white;
    opacity: 0.9;
    justify-content: left;
    width: 12em; }
  .coffeecup {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 20em;
    width: auto; }
  .orderImg {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 20em;
    width: auto; } }

/* SCREEN SIZE FOR Iphone */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: brown;
    background-size: cover; }
  .container {
    display: flex;
    justify-content: flex-end; }
  .hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%; }
  .empty {
    margin: 80px; }
  .lowerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px; }
  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  h2.slogan {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 30px;
    margin: 10px;
    color: white; }
  .orderBtn {
    width: 300px;
    align-self: center;
    background-color: transparent; }
  .orderBtn:hover {
    background-color: white;
    opacity: 0.2; }
  .orderBtn > p {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin: 5px;
    padding: 2px;
    font-size: 50px; }
  .orderLine > p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace; }
  .nav1 {
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px; }
  .burg1 {
    color: white;
    font-size: 4rem; }
  .briefHistory {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .coffeecup {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; } }
