#logo {
  top: 25px;
  font-family: 'Rochester', cursive;
  color: #e55039;
  text-decoration: none;
  /*text-transform: uppercase;*/
  font-size: 120px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: red 3px 2px 0;
  position: relative;
  margin: 10px; }

.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: .8; }
  .navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s; }
  .navicon-button:hover {
    transition: 0.5s;
    opacity: 1; }
    .navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
      transition: 0.25s; }
    .navicon-button:hover .navicon:before {
      top: .825rem; }
    .navicon-button:hover .navicon:after {
      top: -.825rem; }

.navicon {
  position: relative;
  width: 1.8em;
  height: .3125rem;
  background: #FFF;
  transition: 0.5s;
  border-radius: 2.5rem; }
  .navicon:before, .navicon:after {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.5rem;
    background: #FFF;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.25s;
    border-radius: 1rem; }
  .navicon:before {
    top: .625rem; }
  .navicon:after {
    top: -.625rem; }

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important; }

.open .navicon:before,
.open .navicon:after {
  transition: 0.5s; }

/* Minus */
.open {
  transform: scale(0.75); }

@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
.frontPage {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  border-bottom: 5px white solid;
  background: url(Img/coffeepage.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*filter: hue-rotate(2deg) saturate(1.9);*/ }

.container {
  display: flex;
  justify-content: flex-end; }

.hero-container {
  display: table;
  margin: 0 auto;
  padding: 0 0px;
  height: 100%; }

.empty {
  margin: 80px; }

.lowerPart {
  margin-top: 70px;
  text-align: center;
  align-content: center;
  padding: 1px;
  margin: auto; }

.hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: auto;
  align-self: center; }

h2.slogan {
  font-family: 'Chicle', cursive;
  font-size: 30px;
  margin: 35px;
  color: brown; }

.orderBtn {
  width: 300px;
<<<<<<< HEAD
  height: 50px;
  border: none;
  padding: 15px; }
=======
  align-self: center;
  background-color: transparent; }

.orderBtn > p {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  border: solid white;
  color: white;
  margin: 5px;
  padding: 2px;
  font-size: 50px; }
>>>>>>> a3dc3846445308167d7f9975171ef5106220bd85

.orderLine > p {
  color: brown;
  font-family: 'Chicle', cursive;
  font-size: 150%;
  font-style: 5px bold; }

.nav1 {
  background-color: black;
  opacity: 0.7;
  border: 200px 5px 700px 5px; }

.briefHistory {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  position: relative;
  width: 100%;
  background: url(Img/img1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.line {
  display: flex;
  border: solid white;
  height: 800px;
  width: 0px;
  order: 2;
  margin: 50px;
  border-radius: 5px;
  opacity: 0.9; }

.textBox {
  margin-top: 100px;
  font-size: 1.5em; }

.textBox > p {
  opacity: 0.9;
  justify-content: left;
  width: 30em; }

.textBox2 > p {
  color: white;
  opacity: 0.9;
  justify-content: left;
  width: 30em; }

.goodlist {
  color: white;
  opacity: 0.9;
<<<<<<< HEAD
  width: 30em; }

.coffeecup {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 10px;
  margin-left: 50px;
  height: 280px;
  width: 300px;
  filter: hue-rotate(180deg) saturate(1.5); }

.dropdown-menu {
  background-color: transparent; }

.orderImg {
  position: relative;
  height: 80em;
  width: 80em;
  margin-left: 20em;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20em;
  width: auto;
  border: 8px dotted brown; }
=======
  margin-top: 170px; }

.aboutImg1 {
  position: absolute;
  display: none;
  top: 75px;
  left: 05px;
  height: 250px;
  width: 250px;
  margin: 5px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(10deg) saturate(2);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

.aboutImg2 {
  position: absolute;
  display: none;
  top: 260px;
  left: 100px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 10px;
  margin-left: 40px;
  height: 250px;
  width: 250px;
  filter: hue-rotate(20deg) saturate(10); }

.dropdown-menu {
  background-color: black;
  opacity: 0.7; }
>>>>>>> a3dc3846445308167d7f9975171ef5106220bd85

.dropdown-menu {
  background-color: transparent; }

.imgBox {
  height: 50px;
  width: 40px; }

.imgBox2 {
  height: 50px;
  width: 40px; }

.imgBox2 {
  height: 50px;
  width: 40px; }

.menuPage > h1 {
  font-size: 50px; }

.menuPage {
  height: 10vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: url(Img/img4.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(-30deg) saturate(3);
  color: white; }

.container {
  display: inline; }

.locationPage {
  height: 60vh;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: rgba(59, 6, 6, 0.788);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: hue-rotate(2deg) saturate(1.9); }

table {
  background-color: white; }

.checkOut {
  display: flex;
  justify-content: flex-end;
  padding: 10px; }

.dropdown-menu > li > a {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 20px; }

.loctxt {
  padding-top: 3em; }

#locationPage * {
  color: #ffffff;
  font-family: 'Racing Sans One'; }

#briefHistory * {
  color: #ffffff; }

/* SCREEN SIZE FOR Tablet */
@media only screen and (min-width: 786px) and (max-width: 1024px) {
  #logo {
    margin-top: 140px;
    font-size: 100px; }
  .frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    background: url(Img/FrontPage.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(2deg) saturate(1.9); }
  .container {
    display: flex;
    justify-content: flex-end; }
  .hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%; }
  .empty {
    margin: 20px; }
  .lowerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px; }
  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  h2.slogan {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 30px;
    margin: 10px;
    color: white; }
  .orderBtn {
    width: 300px;
    align-self: center;
    background-color: transparent; }
  .orderBtn > p {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin: 5px;
    padding: 2px;
    font-size: 50px; }
  .orderLine > p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace; }
  .nav1 {
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px; }
  .burg1 {
    color: white;
    font-size: 4rem; }
  .briefHistory {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    position: relative;
    width: 100%;
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .line {
    display: flex;
    border: solid white;
    height: 700px;
    width: 0px;
    order: 2;
    margin: 50px;
    border-radius: 5px;
    opacity: 0.9; }
  .textBox {
    margin-top: 100px;
    font-size: 1.5em; }
  .textBox > p {
    opacity: 0.9;
    justify-content: left;
    width: 30em; }
  .textBox2 > p {
    color: white;
    opacity: 0.9;
    justify-content: left;
    width: 30em; }
  .goodlist {
    color: white;
    opacity: 0.9;
    margin-top: 170px; }
  .aboutImg1 {
    display: none;
    position: absolute;
    top: 75px;
    left: 05px;
    height: 250px;
    width: 250px;
    margin: 5px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(10deg) saturate(2);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
  .aboutImg2 {
    position: absolute;
    display: none;
    top: 260px;
    left: 100px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 10px;
    margin-left: 40px;
    height: 250px;
    width: 250px;
    filter: hue-rotate(20deg) saturate(10); }
  .menuPage {
    height: 20vh; }
  .checkOut {
    height: 10vh; }
  .location {
    display: inline-block;
    height: 100vh; } }

/* SCREEN SIZE FOR Phone */
/*Mobile in landscape*/
@media only screen and (max-device-width: 823px) and (orientation: landscape) {
  #logo {
    font-size: 51px; }
  .frontPage {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: brown;
    background-size: cover; }
  .container {
    display: flex;
    justify-content: flex-end; }
  .hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%; }
  .empty {
    margin: 40px; }
  .lowerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px; }
  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  h2.slogan {
    font-family: 'Chicle', cursive;
    font-size: 20px;
    margin: 2px;
    color: white; }
  .orderBtn {
    width: 100px; }
  .orderLine > p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace; }
  .nav1 {
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px; }
  .burg1 {
    color: white;
    font-size: 4rem; }
  .briefHistory {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    width: 100%;
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .line {
    display: none;
    display: flex;
    border: solid white;
    height: 300px;
    width: 0px;
    order: 2;
    margin: 45px;
    border-radius: 5px;
    opacity: 0.9; }
  .textBox {
    margin-top: 20px;
    font-size: 13px; }
  .textBox > p {
    opacity: 0.9;
    justify-content: left;
    width: 30em; }
  .textBox2 > p {
    color: white;
    opacity: 0.9;
    justify-content: left;
    width: 30em; }
  .goodlist {
    color: white;
    opacity: 0.9;
    margin-top: 17px; }
  .aboutImg1 {
    display: none;
    position: absolute;
    top: 30px;
    left: 50px;
    height: 50px;
    width: 50px;
    margin: 5px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(10deg) saturate(2);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
  .aboutImg2 {
    position: absolute;
    display: none;
    top: 140px;
    left: 90px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 1px;
    margin-left: 4px;
    height: 50px;
    width: 50px;
    filter: hue-rotate(20deg) saturate(10); }
  .locationPage {
    height: 400vh;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: rgba(59, 6, 6, 0.788);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(2deg) saturate(1.9); } }

/*Phone size Portrait Mode*/
@media only screen and (max-width: 415px) {
  #logo {
    font-size: 50px; }
  .frontPage {
    height: 110vh;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto; }
  .container {
    display: flex;
    justify-content: flex-end; }
  .hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%; }
  .empty {
    margin: 80px; }
  .lowerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px; }
  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  h2.slogan {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 15px;
    margin: 2px;
    color: white; }
  .orderBtn {
    width: 300px;
    align-self: center;
    background-color: transparent; }
  .orderBtn > p {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border: solid white;
    color: white;
    margin: 10px;
    padding: 2px;
    font-size: 30px; }
  .orderLine > p {
    color: white;
    font-family: monaco, Consolas, "Lucida Console", monospace; }
  .nav1 {
    position: fixed;
    background-color: black;
    opacity: 0.7;
    border: 50px 5px 0px 5px; }
  .burg1 {
    color: white;
    font-size: 4rem; }
  .briefHistory {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    position: relative;
    width: 100%;
    background: url(Img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex: display;
    justify-content: center; }
  .line {
    display: flex;
    border: solid white;
    height: 500px;
    width: 0px;
    order: 2;
    margin: 30px;
    border-radius: 5px;
    opacity: 0.9; }
  .textBox {
    flex: display;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px; }
  h1 {
    font-size: 25px; }
  .textBox > p {
    opacity: 0.9;
    width: 20em; }
  .goodlist {
    color: white;
    opacity: 0.9;
    margin-top: 50px; }
  .aboutImg1 {
    display: none;
    position: absolute;
    top: 75px;
    left: 05px;
    height: 250px;
    width: 250px;
    margin: 5px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(10deg) saturate(2);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
  .aboutImg2 {
    position: absolute;
    display: none;
    top: 260px;
    left: 100px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 10px;
    margin-left: 40px;
    height: 250px;
    width: 250px;
    filter: hue-rotate(20deg) saturate(10); }
  .locationPage {
    height: 220vh;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #34495e;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(2deg) saturate(1.9); }
  .loctxt {
    padding-top: 3em; }
  #locationPage * {
    color: #ffffff;
    font-family: 'Racing Sans One'; }
  #briefHistory * {
    color: #ffffff; } }
